<!-- google-maps-demo.component.html -->
<input type="text"
       #mapSearchField
       class="search-input"
       placeholder="Search"
       name="search">
<google-map height="500px"
            width="100%"
            [center]="center"
            [options]="mapOptions"
            [zoom]="zoom">
  <map-circle [center]="circleCenter"
              [radius]="radius"
              [options]="options"
              (circleDragend)="circleDrag($event)"></map-circle>
</google-map>
<div class="current-location">
  {{lat}} {{lng}}
</div>
<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>
